<div class="row">
    <div class="alert alert-info" *ngIf="(Cart | async).length==0">
        <p><strong> Aucun articles dans le panier !</strong> Allez acheter !</p>
    </div>
    <div *ngIf="(Cart | async).length!=0">

        <div class="col-xs-1 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of Cart | async">
            <div class="card shadow-sm custom-card">
                <img src="{{ item.picture }}" class="card-img-top" alt="{{ item.title }}" />

                <div class="card-body">
                    <span><small class="text-muted">{{ item.brand.name }} - {{ item.reference }}</small></span>
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.unitprice | money }}</p>
                    <p class="card-text">
                        <small class="text-muted">{{ item.subcategory.name }} |
                            {{ item.gender }}</small>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" (click)="DeleteArticleFromCart(item)">Supprimer</button>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="onPurchase()">Valider Paiement</button>
        </div>
    </div>
</div>