.input-group {
    border: 1px solid #ced4da;
}
#filter-item-name {
    border: none;
}
.rounded-pill-right{
    border-top-right-radius: 50rem!important;
    border-bottom-right-radius: 50rem!important;
}