.footer {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  margin-top: 5rem;
  padding: 0.5rem;
  background-color: #f5f5f5;    
  color: white;
  text-align: center;
}